.recepies {
    border-radius: 10px;
    box-shadow: 0px 5px 20px grey;
    margin:20px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background:rgb(116, 103, 103);
    align-items: center;
    min-width:40%;
    
}